In [129]:
import pandas as pd
import numpy as np

In [130]:
df=pd.read_csv(r"C:\Users\navan\OneDrive\Desktop\PROJECT\data analyst project\banglore11.csv")
df1=pd.read_csv(r"C:\Users\navan\OneDrive\Desktop\PROJECT\data analyst project\Tirupati.csv")
df2=pd.read_csv(r"C:\Users\navan\OneDrive\Desktop\PROJECT\data analyst project\chennai.csv")
df3=pd.read_csv(r"C:\Users\navan\OneDrive\Desktop\PROJECT\data analyst project\Hyderabad.csv")
merged_data=pd.concat([df,df1,df2,df3],ignore_index=True)
merged_data.head()

,Hotel_Name,Location,Price,Sharing,Facilities,Review,Riview_count,star_count,Unnamed: 0
0,Itsy Hotels Shree Comforts,"HSR Layout, Bangalore","3,037","2 nights, 2 adults",[Sanitized] Standard Double Room,7.3,84.0,3.0,NaN
1,The Leela Bhartiya City Bengaluru,Bangalore,"23,500","2 nights, 2 adults",Deluxe Room,9.0,676.0,5.0,NaN
2,Olive Zip Kalyan Nagar by Embassy Group,"Kalyan Nagar, Bangalore","3,562","2 nights, 2 adults",Standard Double Room,7.3,464.0,4.0,NaN
3,Olive Hotel Indiranagar by Embassy Group,"Indiranagar, Bangalore","5,656","2 nights, 2 adults",Budget Double Room,7.6,1403.0,3.0,NaN
4,Radisson Blu Atria Bengaluru,Bangalore,"15,900","2 nights, 2 adults",Superior Room,8.0,1712.0,5.0,NaN

In [131]:
merged_data.tail()

,Hotel_Name,Location,Price,Sharing,Facilities,Review,Riview_count,star_count,Unnamed: 0
97,Super Hotel O Madhapur VIP Hills,"HITEC City, Hyderabad","2,233","2 nights, 2 adults",Classic Triple Room,5.5,44.0,4.0,NaN
98,Hotel Imperial Classic,Hyderabad,"3,500","2 nights, 2 adults",Executive Double Room,7.3,167.0,3.0,NaN
99,The Purple Leaf Hotels,Hyderabad,"6,500","2 nights, 2 adults",Deluxe Double or Twin Room,7.2,200.0,3.0,NaN
100,The Golkonda Hotel,Hyderabad,"15,448","2 nights, 2 adults",Premium Twin Room,7.3,1054.0,4.0,NaN
101,FabHotel Royal Residency II - Nr Metro Station...,Hyderabad,"4,190","2 nights, 2 adults",Deluxe Double Room,7.7,1321.0,3.0,NaN

In [132]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Hotel_Name    102 non-null    object
 1   Location      102 non-null    object
 2   Price         102 non-null    object
 3   Sharing       102 non-null    object
 4   Facilities    102 non-null    object
 5   Review        97 non-null     float64
 6   Riview_count  97 non-null     float64
 7   star_count    85 non-null     float64
 8   Unnamed: 0    25 non-null     float64
dtypes: float64(4), object(5)
memory usage: 7.3+ KB

In [133]:
merged_data.dtypes

Hotel_Name       object
Location         object
Price            object
Sharing          object
Facilities       object
Review          float64
Riview_count    float64
star_count      float64
Unnamed: 0      float64
dtype: object

In [134]:
merged_data.sample()

,Hotel_Name,Location,Price,Sharing,Facilities,Review,Riview_count,star_count,Unnamed: 0
1,The Leela Bhartiya City Bengaluru,Bangalore,"23,500","2 nights, 2 adults",Deluxe Room,9.0,676.0,5.0,NaN

In [135]:
merged_data.describe()

          Review  Riview_count  star_count  Unnamed: 0
count  97.000000     97.000000   85.000000   25.000000
mean    7.595876    583.659794    3.670588   12.000000
std     0.888927    579.756215    0.930799    7.359801
min     4.900000      2.000000    2.000000    0.000000
25%     7.100000    137.000000    3.000000    6.000000
50%     7.600000    344.000000    3.000000   12.000000
75%     8.100000    894.000000    5.000000   18.000000
max    10.000000   2373.000000    5.000000   24.000000

In [136]:
merged_data.isna().sum()

Hotel_Name       0
Location         0
Price            0
Sharing          0
Facilities       0
Review           5
Riview_count     5
star_count      17
Unnamed: 0      77
dtype: int64

In [137]:
DD=merged_data.fillna(0)
DD

,Hotel_Name,Location,Price,Sharing,Facilities,Review,Riview_count,star_count,Unnamed: 0
0,Itsy Hotels Shree Comforts,"HSR Layout, Bangalore","3,037","2 nights, 2 adults",[Sanitized] Standard Double Room,7.3,84.0,3.0,0.0
1,The Leela Bhartiya City Bengaluru,Bangalore,"23,500","2 nights, 2 adults",Deluxe Room,9.0,676.0,5.0,0.0
2,Olive Zip Kalyan Nagar by Embassy Group,"Kalyan Nagar, Bangalore","3,562","2 nights, 2 adults",Standard Double Room,7.3,464.0,4.0,0.0
3,Olive Hotel Indiranagar by Embassy Group,"Indiranagar, Bangalore","5,656","2 nights, 2 adults",Budget Double Room,7.6,1403.0,3.0,0.0
4,Radisson Blu Atria Bengaluru,Bangalore,"15,900","2 nights, 2 adults",Superior Room,8.0,1712.0,5.0,0.0
...,...,...,...,...,...,...,...,...,...
97,Super Hotel O Madhapur VIP Hills,"HITEC City, Hyderabad","2,233","2 nights, 2 adults",Classic Triple Room,5.5,44.0,4.0,0.0
98,Hotel Imperial Classic,Hyderabad,"3,500","2 nights, 2 adults",Executive Double Room,7.3,167.0,3.0,0.0
99,The Purple Leaf Hotels,Hyderabad,"6,500","2 nights, 2 adults",Deluxe Double or Twin Room,7.2,200.0,3.0,0.0
100,The Golkonda Hotel,Hyderabad,"15,448","2 nights, 2 adults",Premium Twin Room,7.3,1054.0,4.0,0.0
101,FabHotel Royal Residency II - Nr Metro Station...,Hyderabad,"4,190","2 nights, 2 adults",Deluxe Double Room,7.7,1321.0,3.0,0.0

In [138]:
DD['city'] = DD['Location'].str.split(',').str[-1].str.strip()
DD

,Hotel_Name,Location,Price,Sharing,Facilities,Review,Riview_count,star_count,Unnamed: 0,city
0,Itsy Hotels Shree Comforts,"HSR Layout, Bangalore","3,037","2 nights, 2 adults",[Sanitized] Standard Double Room,7.3,84.0,3.0,0.0,Bangalore
1,The Leela Bhartiya City Bengaluru,Bangalore,"23,500","2 nights, 2 adults",Deluxe Room,9.0,676.0,5.0,0.0,Bangalore
2,Olive Zip Kalyan Nagar by Embassy Group,"Kalyan Nagar, Bangalore","3,562","2 nights, 2 adults",Standard Double Room,7.3,464.0,4.0,0.0,Bangalore
3,Olive Hotel Indiranagar by Embassy Group,"Indiranagar, Bangalore","5,656","2 nights, 2 adults",Budget Double Room,7.6,1403.0,3.0,0.0,Bangalore
4,Radisson Blu Atria Bengaluru,Bangalore,"15,900","2 nights, 2 adults",Superior Room,8.0,1712.0,5.0,0.0,Bangalore
...,...,...,...,...,...,...,...,...,...,...
97,Super Hotel O Madhapur VIP Hills,"HITEC City, Hyderabad","2,233","2 nights, 2 adults",Classic Triple Room,5.5,44.0,4.0,0.0,Hyderabad
98,Hotel Imperial Classic,Hyderabad,"3,500","2 nights, 2 adults",Executive Double Room,7.3,167.0,3.0,0.0,Hyderabad
99,The Purple Leaf Hotels,Hyderabad,"6,500","2 nights, 2 adults",Deluxe Double or Twin Room,7.2,200.0,3.0,0.0,Hyderabad
100,The Golkonda Hotel,Hyderabad,"15,448","2 nights, 2 adults",Premium Twin Room,7.3,1054.0,4.0,0.0,Hyderabad
101,FabHotel Royal Residency II - Nr Metro Station...,Hyderabad,"4,190","2 nights, 2 adults",Deluxe Double Room,7.7,1321.0,3.0,0.0,Hyderabad

In [139]:
DD['Price'] = DD['Price'].astype(str)
DD['Price'] = DD['Price'].str.replace(',', '').astype(float)
DD

,Hotel_Name,Location,Price,Sharing,Facilities,Review,Riview_count,star_count,Unnamed: 0,city
0,Itsy Hotels Shree Comforts,"HSR Layout, Bangalore",3037.0,"2 nights, 2 adults",[Sanitized] Standard Double Room,7.3,84.0,3.0,0.0,Bangalore
1,The Leela Bhartiya City Bengaluru,Bangalore,23500.0,"2 nights, 2 adults",Deluxe Room,9.0,676.0,5.0,0.0,Bangalore
2,Olive Zip Kalyan Nagar by Embassy Group,"Kalyan Nagar, Bangalore",3562.0,"2 nights, 2 adults",Standard Double Room,7.3,464.0,4.0,0.0,Bangalore
3,Olive Hotel Indiranagar by Embassy Group,"Indiranagar, Bangalore",5656.0,"2 nights, 2 adults",Budget Double Room,7.6,1403.0,3.0,0.0,Bangalore
4,Radisson Blu Atria Bengaluru,Bangalore,15900.0,"2 nights, 2 adults",Superior Room,8.0,1712.0,5.0,0.0,Bangalore
...,...,...,...,...,...,...,...,...,...,...
97,Super Hotel O Madhapur VIP Hills,"HITEC City, Hyderabad",2233.0,"2 nights, 2 adults",Classic Triple Room,5.5,44.0,4.0,0.0,Hyderabad
98,Hotel Imperial Classic,Hyderabad,3500.0,"2 nights, 2 adults",Executive Double Room,7.3,167.0,3.0,0.0,Hyderabad
99,The Purple Leaf Hotels,Hyderabad,6500.0,"2 nights, 2 adults",Deluxe Double or Twin Room,7.2,200.0,3.0,0.0,Hyderabad
100,The Golkonda Hotel,Hyderabad,15448.0,"2 nights, 2 adults",Premium Twin Room,7.3,1054.0,4.0,0.0,Hyderabad
101,FabHotel Royal Residency II - Nr Metro Station...,Hyderabad,4190.0,"2 nights, 2 adults",Deluxe Double Room,7.7,1321.0,3.0,0.0,Hyderabad

In [140]:
DD.isna().sum()

Hotel_Name      0
Location        0
Price           0
Sharing         0
Facilities      0
Review          0
Riview_count    0
star_count      0
Unnamed: 0      0
city            0
dtype: int64

In [148]:
DD = DD.rename(columns={'Riview_count': 'Review_count'})
DD

,Hotel_Name,Location,Price,Sharing,Facilities,Review,Review_count,star_count,Unnamed: 0,city
0,Itsy Hotels Shree Comforts,"HSR Layout, Bangalore",3037.0,"2 nights, 2 adults",[Sanitized] Standard Double Room,7.3,84.0,3.0,0.0,Bangalore
1,The Leela Bhartiya City Bengaluru,Bangalore,23500.0,"2 nights, 2 adults",Deluxe Room,9.0,676.0,5.0,0.0,Bangalore
2,Olive Zip Kalyan Nagar by Embassy Group,"Kalyan Nagar, Bangalore",3562.0,"2 nights, 2 adults",Standard Double Room,7.3,464.0,4.0,0.0,Bangalore
3,Olive Hotel Indiranagar by Embassy Group,"Indiranagar, Bangalore",5656.0,"2 nights, 2 adults",Budget Double Room,7.6,1403.0,3.0,0.0,Bangalore
4,Radisson Blu Atria Bengaluru,Bangalore,15900.0,"2 nights, 2 adults",Superior Room,8.0,1712.0,5.0,0.0,Bangalore
...,...,...,...,...,...,...,...,...,...,...
97,Super Hotel O Madhapur VIP Hills,"HITEC City, Hyderabad",2233.0,"2 nights, 2 adults",Classic Triple Room,5.5,44.0,4.0,0.0,Hyderabad
98,Hotel Imperial Classic,Hyderabad,3500.0,"2 nights, 2 adults",Executive Double Room,7.3,167.0,3.0,0.0,Hyderabad
99,The Purple Leaf Hotels,Hyderabad,6500.0,"2 nights, 2 adults",Deluxe Double or Twin Room,7.2,200.0,3.0,0.0,Hyderabad
100,The Golkonda Hotel,Hyderabad,15448.0,"2 nights, 2 adults",Premium Twin Room,7.3,1054.0,4.0,0.0,Hyderabad
101,FabHotel Royal Residency II - Nr Metro Station...,Hyderabad,4190.0,"2 nights, 2 adults",Deluxe Double Room,7.7,1321.0,3.0,0.0,Hyderabad

In [149]:
DD.to_excel("ALL HOTEL LIST[1].xlsx")

In [154]:
DD.to_csv("ALL HOTEL LIST[1].csv")

In [155]:
DD

,Hotel_Name,Location,Price,Sharing,Facilities,Review,Review_count,star_count,Unnamed: 0,city
0,Itsy Hotels Shree Comforts,"HSR Layout, Bangalore",3037.0,"2 nights, 2 adults",[Sanitized] Standard Double Room,7.3,84.0,3.0,0.0,Bangalore
1,The Leela Bhartiya City Bengaluru,Bangalore,23500.0,"2 nights, 2 adults",Deluxe Room,9.0,676.0,5.0,0.0,Bangalore
2,Olive Zip Kalyan Nagar by Embassy Group,"Kalyan Nagar, Bangalore",3562.0,"2 nights, 2 adults",Standard Double Room,7.3,464.0,4.0,0.0,Bangalore
3,Olive Hotel Indiranagar by Embassy Group,"Indiranagar, Bangalore",5656.0,"2 nights, 2 adults",Budget Double Room,7.6,1403.0,3.0,0.0,Bangalore
4,Radisson Blu Atria Bengaluru,Bangalore,15900.0,"2 nights, 2 adults",Superior Room,8.0,1712.0,5.0,0.0,Bangalore
...,...,...,...,...,...,...,...,...,...,...
97,Super Hotel O Madhapur VIP Hills,"HITEC City, Hyderabad",2233.0,"2 nights, 2 adults",Classic Triple Room,5.5,44.0,4.0,0.0,Hyderabad
98,Hotel Imperial Classic,Hyderabad,3500.0,"2 nights, 2 adults",Executive Double Room,7.3,167.0,3.0,0.0,Hyderabad
99,The Purple Leaf Hotels,Hyderabad,6500.0,"2 nights, 2 adults",Deluxe Double or Twin Room,7.2,200.0,3.0,0.0,Hyderabad
100,The Golkonda Hotel,Hyderabad,15448.0,"2 nights, 2 adults",Premium Twin Room,7.3,1054.0,4.0,0.0,Hyderabad
101,FabHotel Royal Residency II - Nr Metro Station...,Hyderabad,4190.0,"2 nights, 2 adults",Deluxe Double Room,7.7,1321.0,3.0,0.0,Hyderabad

In [158]:
df=pd.read_csv(r"C:\Users\navan\OneDrive\Desktop\PROJECT\data analyst project\ALL HOTEL LIST[1].csv")
df

,Unnamed: 0.1,Hotel_Name,Location,Price,Sharing,Facilities,Review,Review_count,star_count,Unnamed: 0,city
0,0,Itsy Hotels Shree Comforts,"HSR Layout, Bangalore",3037.0,"2 nights, 2 adults",[Sanitized] Standard Double Room,7.3,84.0,3.0,0.0,Bangalore
1,1,The Leela Bhartiya City Bengaluru,Bangalore,23500.0,"2 nights, 2 adults",Deluxe Room,9.0,676.0,5.0,0.0,Bangalore
2,2,Olive Zip Kalyan Nagar by Embassy Group,"Kalyan Nagar, Bangalore",3562.0,"2 nights, 2 adults",Standard Double Room,7.3,464.0,4.0,0.0,Bangalore
3,3,Olive Hotel Indiranagar by Embassy Group,"Indiranagar, Bangalore",5656.0,"2 nights, 2 adults",Budget Double Room,7.6,1403.0,3.0,0.0,Bangalore
4,4,Radisson Blu Atria Bengaluru,Bangalore,15900.0,"2 nights, 2 adults",Superior Room,8.0,1712.0,5.0,0.0,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...
97,97,Super Hotel O Madhapur VIP Hills,"HITEC City, Hyderabad",2233.0,"2 nights, 2 adults",Classic Triple Room,5.5,44.0,4.0,0.0,Hyderabad
98,98,Hotel Imperial Classic,Hyderabad,3500.0,"2 nights, 2 adults",Executive Double Room,7.3,167.0,3.0,0.0,Hyderabad
99,99,The Purple Leaf Hotels,Hyderabad,6500.0,"2 nights, 2 adults",Deluxe Double or Twin Room,7.2,200.0,3.0,0.0,Hyderabad
100,100,The Golkonda Hotel,Hyderabad,15448.0,"2 nights, 2 adults",Premium Twin Room,7.3,1054.0,4.0,0.0,Hyderabad
101,101,FabHotel Royal Residency II - Nr Metro Station...,Hyderabad,4190.0,"2 nights, 2 adults",Deluxe Double Room,7.7,1321.0,3.0,0.0,Hyderabad

In [178]:
DD.drop('Unnamed: 0', axis=1, inplace=True)
DD

,Hotel_Name,Location,Price,Sharing,Facilities,Review,Review_count,star_count,city
0,Itsy Hotels Shree Comforts,"HSR Layout, Bangalore",3037.0,"2 nights, 2 adults",[Sanitized] Standard Double Room,7.3,84.0,3.0,Bangalore
1,The Leela Bhartiya City Bengaluru,Bangalore,23500.0,"2 nights, 2 adults",Deluxe Room,9.0,676.0,5.0,Bangalore
2,Olive Zip Kalyan Nagar by Embassy Group,"Kalyan Nagar, Bangalore",3562.0,"2 nights, 2 adults",Standard Double Room,7.3,464.0,4.0,Bangalore
3,Olive Hotel Indiranagar by Embassy Group,"Indiranagar, Bangalore",5656.0,"2 nights, 2 adults",Budget Double Room,7.6,1403.0,3.0,Bangalore
4,Radisson Blu Atria Bengaluru,Bangalore,15900.0,"2 nights, 2 adults",Superior Room,8.0,1712.0,5.0,Bangalore
...,...,...,...,...,...,...,...,...,...
97,Super Hotel O Madhapur VIP Hills,"HITEC City, Hyderabad",2233.0,"2 nights, 2 adults",Classic Triple Room,5.5,44.0,4.0,Hyderabad
98,Hotel Imperial Classic,Hyderabad,3500.0,"2 nights, 2 adults",Executive Double Room,7.3,167.0,3.0,Hyderabad
99,The Purple Leaf Hotels,Hyderabad,6500.0,"2 nights, 2 adults",Deluxe Double or Twin Room,7.2,200.0,3.0,Hyderabad
100,The Golkonda Hotel,Hyderabad,15448.0,"2 nights, 2 adults",Premium Twin Room,7.3,1054.0,4.0,Hyderabad
101,FabHotel Royal Residency II - Nr Metro Station...,Hyderabad,4190.0,"2 nights, 2 adults",Deluxe Double Room,7.7,1321.0,3.0,Hyderabad

In [173]:
print(DD.columns)

Index(['Hotel_Name', 'Location', 'Price', 'Sharing', 'Facilities', 'Review',
       'Review_count', 'star_count', 'city'],
      dtype='object')

In [191]:
df=pd.read_csv(r"C:\Users\navan\OneDrive\Desktop\PROJECT\data analyst project\all hotel list(1).csv")
df

,Unnamed: 0,Hotel_Name,Location,Price,Sharing,Facilities,Review,Review_count,star_count,city
0,0,Itsy Hotels Shree Comforts,"HSR Layout, Bangalore",3037.0,"2 nights, 2 adults",[Sanitized] Standard Double Room,7.3,84.0,3.0,Bangalore
1,1,The Leela Bhartiya City Bengaluru,Bangalore,23500.0,"2 nights, 2 adults",Deluxe Room,9.0,676.0,5.0,Bangalore
2,2,Olive Zip Kalyan Nagar by Embassy Group,"Kalyan Nagar, Bangalore",3562.0,"2 nights, 2 adults",Standard Double Room,7.3,464.0,4.0,Bangalore
3,3,Olive Hotel Indiranagar by Embassy Group,"Indiranagar, Bangalore",5656.0,"2 nights, 2 adults",Budget Double Room,7.6,1403.0,3.0,Bangalore
4,4,Radisson Blu Atria Bengaluru,Bangalore,15900.0,"2 nights, 2 adults",Superior Room,8.0,1712.0,5.0,Bangalore
...,...,...,...,...,...,...,...,...,...,...
97,97,Super Hotel O Madhapur VIP Hills,"HITEC City, Hyderabad",2233.0,"2 nights, 2 adults",Classic Triple Room,5.5,44.0,4.0,Hyderabad
98,98,Hotel Imperial Classic,Hyderabad,3500.0,"2 nights, 2 adults",Executive Double Room,7.3,167.0,3.0,Hyderabad
99,99,The Purple Leaf Hotels,Hyderabad,6500.0,"2 nights, 2 adults",Deluxe Double or Twin Room,7.2,200.0,3.0,Hyderabad
100,100,The Golkonda Hotel,Hyderabad,15448.0,"2 nights, 2 adults",Premium Twin Room,7.3,1054.0,4.0,Hyderabad
101,101,FabHotel Royal Residency II - Nr Metro Station...,Hyderabad,4190.0,"2 nights, 2 adults",Deluxe Double Room,7.7,1321.0,3.0,Hyderabad

In [192]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [193]:
df

,Hotel_Name,Location,Price,Sharing,Facilities,Review,Review_count,star_count,city
0,Itsy Hotels Shree Comforts,"HSR Layout, Bangalore",3037.0,"2 nights, 2 adults",[Sanitized] Standard Double Room,7.3,84.0,3.0,Bangalore
1,The Leela Bhartiya City Bengaluru,Bangalore,23500.0,"2 nights, 2 adults",Deluxe Room,9.0,676.0,5.0,Bangalore
2,Olive Zip Kalyan Nagar by Embassy Group,"Kalyan Nagar, Bangalore",3562.0,"2 nights, 2 adults",Standard Double Room,7.3,464.0,4.0,Bangalore
3,Olive Hotel Indiranagar by Embassy Group,"Indiranagar, Bangalore",5656.0,"2 nights, 2 adults",Budget Double Room,7.6,1403.0,3.0,Bangalore
4,Radisson Blu Atria Bengaluru,Bangalore,15900.0,"2 nights, 2 adults",Superior Room,8.0,1712.0,5.0,Bangalore
...,...,...,...,...,...,...,...,...,...
97,Super Hotel O Madhapur VIP Hills,"HITEC City, Hyderabad",2233.0,"2 nights, 2 adults",Classic Triple Room,5.5,44.0,4.0,Hyderabad
98,Hotel Imperial Classic,Hyderabad,3500.0,"2 nights, 2 adults",Executive Double Room,7.3,167.0,3.0,Hyderabad
99,The Purple Leaf Hotels,Hyderabad,6500.0,"2 nights, 2 adults",Deluxe Double or Twin Room,7.2,200.0,3.0,Hyderabad
100,The Golkonda Hotel,Hyderabad,15448.0,"2 nights, 2 adults",Premium Twin Room,7.3,1054.0,4.0,Hyderabad
101,FabHotel Royal Residency II - Nr Metro Station...,Hyderabad,4190.0,"2 nights, 2 adults",Deluxe Double Room,7.7,1321.0,3.0,Hyderabad

In [194]:
df.to_excel("all hotel list(2).xlsx")

In [195]:
df.to_csv("all hotel list(2).csv")

In [186]:
df

,Hotel_Name,Location,Price,Sharing,Facilities,Review,Review_count,star_count,city
0,Itsy Hotels Shree Comforts,"HSR Layout, Bangalore",3037.0,"2 nights, 2 adults",[Sanitized] Standard Double Room,7.3,84.0,3.0,Bangalore
1,The Leela Bhartiya City Bengaluru,Bangalore,23500.0,"2 nights, 2 adults",Deluxe Room,9.0,676.0,5.0,Bangalore
2,Olive Zip Kalyan Nagar by Embassy Group,"Kalyan Nagar, Bangalore",3562.0,"2 nights, 2 adults",Standard Double Room,7.3,464.0,4.0,Bangalore
3,Olive Hotel Indiranagar by Embassy Group,"Indiranagar, Bangalore",5656.0,"2 nights, 2 adults",Budget Double Room,7.6,1403.0,3.0,Bangalore
4,Radisson Blu Atria Bengaluru,Bangalore,15900.0,"2 nights, 2 adults",Superior Room,8.0,1712.0,5.0,Bangalore
...,...,...,...,...,...,...,...,...,...
97,Super Hotel O Madhapur VIP Hills,"HITEC City, Hyderabad",2233.0,"2 nights, 2 adults",Classic Triple Room,5.5,44.0,4.0,Hyderabad
98,Hotel Imperial Classic,Hyderabad,3500.0,"2 nights, 2 adults",Executive Double Room,7.3,167.0,3.0,Hyderabad
99,The Purple Leaf Hotels,Hyderabad,6500.0,"2 nights, 2 adults",Deluxe Double or Twin Room,7.2,200.0,3.0,Hyderabad
100,The Golkonda Hotel,Hyderabad,15448.0,"2 nights, 2 adults",Premium Twin Room,7.3,1054.0,4.0,Hyderabad
101,FabHotel Royal Residency II - Nr Metro Station...,Hyderabad,4190.0,"2 nights, 2 adults",Deluxe Double Room,7.7,1321.0,3.0,Hyderabad